.blogItem{
    margin-bottom: .6rem;
}

.title{
    font-size: var(--font-hg);
    cursor: pointer;
    &:hover{
        filter: invert(1);
    }
}

.date{
    font-size: var(--font-nm);
}

.year{
    margin-top:1rem;
    margin-bottom: .4rem;
    &:first-child{
        margin-top:0
    }
}

.year_title{
    hr{
        width: 3em;
    }
}