html,
body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}


* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


.bg-pre{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.p-contain{
  object-fit: contain;
}

.f-normal{
  font-size: .24rem;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
}

.flex-all{
  flex:1;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-a-c{
  align-items: center;
}

.flex-a-e{
  align-items:flex-end
}

.flex-j-c{
  justify-content: center;
}

.flex-j-b{
  justify-content: space-between;
}

.flex-j-e{
  justify-content: flex-end;
}

.flex-a-s-e{
  align-self: flex-end
}

.pos-ab{
  position: absolute;
}

.pos-re{
  position: relative;
}

.pos-fix{
  position: fixed;
}

.pos-sticky{
  position: sticky;
}

.inline-box{
  display: inline-block;
}

.overflow-x-scroll{
  overflow-x: scroll;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.overflow-x-scroll-unbar{
  overflow-x: scroll;
  &::-webkit-scrollbar{
      display: none;
  }
}

pre{
  padding: .8rem;
}