.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 3rem 0 3rem;
  transition: 0.5s all;
  background-color: var(--primary);
  color: var(--font);
  p,
  div,
  ul,
  li,
  table {
    color: var(--font);
  }
}

.sign{
  width: 150px;
  height: 50px;
  position: relative;
}

.container{
  --font-sm: 0.8rem;
  --font-nm: 1rem;
  --font-ml: 1.2rem;
  --font-lg: 1.4rem;
  --font-hg: 2rem;
  --font-hg-ex: 2.2rem;
  span{
    font-size: var(--font-sm);
  }
}

.container[color-mode="light"] {
  --primary: #f9f9f9;
  --box-backColor: #ffffff;
  --font: #646464;
  --font-light:rgba(55,65,81,1);
  --font-em: #000000;
  --icon-filter: unset;
}

.container[color-mode="dark"] {
  --primary: #1a1a1a;
  --box-backColor: #252525;
  --font: #e7e7e7;
  --font-light:rgba(229,231,235,1);
  --font-ex: #ffffff;
  --icon-filter: invert(1) hue-rotate(270deg);
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.navbarBox {
  width: 100%;
  min-height: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: right;
  background-color: var(--primary);
  div,a{
    color: var(--font-light);
  }
  img {
    filter: var(--icon-filter);
  }
}

.navItems{
  color: inherit;
  text-align: center;
  margin-right: 1.2rem;
};

.mainBox {
  max-width: 860px;
  padding: 2rem 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 4rem 1rem 0 1rem;
  }
  .sign{
    width: 75px;
    height: 25px;
  }
}